*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #c7c7c7;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1900px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}