@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  url('../../fonts/Montserrat/Montserrat.ttf') format('truetype'),
  url('../../fonts/Montserrat/Montserrat.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}